* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-admin {
    margin: 0 auto;
    max-width: 1200px;
}

tbody img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/2;
    object-fit: cover;
}